# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# Android (gerado pelo flutter create)
android/.gradle/
android/local.properties
android/key.properties
*.jks

# iOS (não usado, mas por segurança)
ios/Pods/
